{
    "extends": ["plugin:vue/base"],
    "overrides": [
      {
        "files": [
          "**/*.spec.js",
          "**/*.spec.jsx"
        ],
        "env": {
          "jest": true
        }
      }
    ]
  }
